
body {
  margin: 0;
  background-color: rgb(37, 164, 171);
  /* font-family: Arial, sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Dancing Script', cursive;

}

.logo {
  width: 150px;
  text-align: center;
  border: 2px rgb(4, 78, 139) solid;
  border-radius: 20px;
  padding: 10px;
}

.logo-div {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(4, 78, 139);
  padding: 10px 0;
  border-radius: 5px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: rgb(4, 78, 139);
  box-shadow: 0 0 10px rgb(4, 78, 139);
}

.fav,
.home,
.recipes,
.about {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.fav:hover,
.home:hover,
.recipes:hover,
.about:hover,
.DashBoard:hover,
.profile:hover,
.theme:hover {
  box-shadow: 0 0 15px rgba(215, 202, 200, 0.8);
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  width: 150px;
  font-style: italic;

}

h1 {
  text-align: center;
}

.footer-text {
  text-align: center;
  text-shadow: 0 0 10px #09acd5, 0 0 20px #09acd5, 0 0 30px #c3b0a2;
}
.github-link:hover,
.linkedin:hover {
  color: black;
  box-shadow: 0 0 15px rgba(215, 202, 200, 0.8);
}
a {
  text-decoration: none;
}
