body{
margin: 0;
background-color: rgb(62, 48, 48);
}
.logo{
  width: 150px;
  text-align: center;
  border: 2px black solid;
  border-radius: 20px;
}
ul{
  list-style: none;
}
.logo-div{
  text-align: center;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
}
.fav,.home,.recipes{
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.fav:hover{
  box-shadow: 0 0 15px rgba(215, 202, 200, 0.8);
}
.home:hover{
  box-shadow: 0 0 15px rgba(215, 202, 200, 0.8);
} 
.recipes:hover{
  box-shadow: 0 0 15px rgba(215, 202, 200, 0.8);
}
.sidebar{
  display: none;
}
h1{
  text-align: center;
}
.footer-text{
  text-align: center;
  text-shadow: 0 0 10px #c3b0a2, 0 0 20px #c3b0a2, 0 0 30px #c3b0a2;
  
}
.github-link{
text-align: center;
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
