
@import "tailwindcss";

/* Body Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Navbar Styling */
.navbar {
  @apply flex justify-evenly items-center bg-blue-600 py-2 rounded-lg;
}

.navbar a {
  @apply text-white text-lg font-semibold px-4 py-2 rounded-md transition-all duration-300 ease-in-out;
}

.navbar a:hover {
  @apply bg-blue-700 text-gray-200;
}

/* Sidebar Styling */
.sidebar {
  @apply bg-blue-600 text-white p-6 w-48 flex flex-col space-y-6;
}

.sidebar a {
  @apply text-xl font-semibold hover:text-gray-200;
}

.footer-text {
  text-align: center;
  text-shadow: 0 0 10px #09acd5, 0 0 20px #09acd5, 0 0 30px #c3b0a2;
}
